@font-face{
  font-family: "ShadowHill";
  src: url("ShadowHill-Regular.otf");
}

*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ShadowHill;

  font-size: 2em;
}

/* contact page */
#contact-page {   
  margin-top: 50px;
  text-align: center;
  font-family: arial;
  font-variant: small-caps;
}

#contact-page img {
  height: 50vh;
  width: 50vh;
  border-radius: 2000px;
  filter: grayscale(100%);
  
}

/* header */
#header {
  text-align: center;

  background: black;
  color: white;
}

#header h1{
  font-weight: normal;
  margin: 0;
}

#header span {
  color: #b70000;
}

#header #buttons {
  display: flex;

  border-bottom: solid white 10px;
}

#header #buttons button {
  flex: 1;
  
  font-size: 2rem;
  font-family: ShadowHill;
  text-transform: uppercase;

  
  background: #b70000;
  color: white;
}

/* #header #buttons button:focus {
  background: white;
  color: black;
  
} */

#header #buttons button.selected {
  background: white;
  color: black;
  border-bottom: none;
}

/* gallery */

.media {
  width: 100%;
}

#gallery {
  display:flex;
  flex-direction: column;
  align-content: center;
}

#gallery button { 
  font-size: 2rem;
  font-family: ShadowHill;
  text-transform: uppercase;

  background: black;
  color: white;
}
